* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    height: 100%;
}

main > div {
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin: 10% 20%;
} 

.aboutimg{
    width:100%;
    height:90px!important;
}

.header{
    padding: 12px;
    text-align: center;
    background:   black;
    color: white;
    width:98.7%;
    margin-bottom:0;
    margin-top: 0;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: medium;
    border: solid black 1px;
}



.app-form .form-det select{
    margin-bottom: 12px;
    width: 83%;
    padding: 20px;
    flex: 5 2;
    margin-top:5px;
    margin-left:15px;
}



.info-form{
    align-self:center;
}


.info-form .info-name p{
    font-weight: bold;
    font-size: 50px;
}


.info-form p{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

button {
    cursor: pointer;
}

.info-form .info-box button{
    background: steelblue;
    align-self: center;
    border: none;
    border-radius: 12px;
    padding:15px;
    margin-left:35%;
    margin-top: 2%;
    width:30%;
    color:white;
}

.info-form .info-box{
    border: 2px;
    font-family: cursive;
    font-size: medium;
    margin-left:25%;
    margin-right:25%;
    margin-top:2%;
    box-shadow: 0 2px 5px rgba(54, 28, 28, 0.3);
    overflow: hidden;
    width : 50%;
    background :white;
}


.info-form .info-box .header{
    padding:10px;
    background:  steelblue;
    flex: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color:white;

}


.home-header{
    padding: 20px;
    text-align: center;
    background:   steelblue;
    color: white;
    width:98.7%;
    margin-bottom:50px;
    margin-top: 0;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    font-size: medium;

}


.home-header p{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.info-home {
    text-align: center;
}

.info-home button{
    background: skyblue;
    color:white;
    font-size: large;
}


.wrapper{
    height: 100%;
    width: 300px;
    position: relative;
    margin-left: 0;
}

.app-form {
    border: 2px;
    font-family: cursive;
    font-size: medium;
    margin-left:65%;
    margin-top:10%;
    box-shadow: 0 2px 5px rgba(54, 28, 28, 0.3);
    overflow: hidden;
    width : 30%;
    height: 45%;
    background :white;
    margin-bottom: 5px;
    text-align: center;


}
.app-form .form-det{
    margin: 6px;
    padding: 5px;
    background: white;
    align-self: center;
    padding:6px;
    font-weight: bolder;
    border-radius: 5px;
    height:70%;

}
.app-form  .app-header{
    padding:10px;
    background:  black;
    flex: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color:white;

}

.app-form .form-det input{
    padding: 5px;
    margin-bottom: 12px;
    width: 80%;
    padding: 9px 8px;
    flex: 5 2;
    margin-top:5px;
    margin-left:15px;
}

.app-form .form-det button{
    background:black;
    border:none;
    border-radius:
            12px; padding:
        15px;
    width: 40%;
    color:white;
    margin-left: 27%;
}


.app-form .form-det label{
    padding:10px 9px;
    flex: 5 2;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 30px;
}

.form_log{
    margin: 20px;
}


.about_first{
    margin-top:50px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: larger;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


.my-custom-scrollbar {
    position: relative;
    height: 1000px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

/* css for alert messages */
.alert-success{
    top: 90%;
    right: 0;
    z-index: 1;
    position: fixed;
    font-size: 18px;
    padding: 20px 40px;
    background: rgb(130, 255, 130);
    border-left: 8px solid green;
    border-radius: 5px;
    animation: alert-success 14s ease forwards;
}
/* specify animation code */
@keyframes alert-success {
    100% { /* when the animation is at 100% it should do the ff */
        opacity: 0;
    }
}
.alert-error{
    top: 90%;
    right: 0;
    z-index: 1;
    position: fixed;
    font-size: 18px;
    padding: 20px 40px;
    background: wheat;
    border-left: 8px solid rgb(243, 160, 6);
    border-radius: 5px;
    animation: alert-error 14s ease forwards;
}
  /* specify animation code */
@keyframes alert-error {
    100% { /* when the animation is at 100% it should do the ff */
      opacity: 0;
    }
}
/* end of alert messages */