* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("Images/Morris-William-HD-Segur-insurance-planning.jpg");
    background-size: cover;
}

nav, h1 {
    padding: 3%;
}
.navigation {
    float: right;
}
.navigation li {
    display: inline-block;
}
.navigation li a {
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
}

main {
    margin: 1% 20%;
    position: absolute;
    text-align: center;
}
main div.intro, label, .navigation li > a, .p-name {
    color: white;
}
.p-name {
    font-size: 50px;
    font-weight: 700;
}
label {
    font-size: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 5%;
}
div {
    display: block;
}
.insert {
    margin: 20px;
}
form label {
    display: block;
    padding: 4%;
}
input, select{
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid white;
    padding: 12px 20px;
    background: transparent;
}
select > option {
    background: rgb(58, 58, 58);
}
input, select, option, button {
    color: white;
    font-weight: 700;
    letter-spacing: 2.5px;
}

button {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(92, 182, 2);

    cursor: pointer;
    left: 50%;
}